{{ define "main" }}
    <h1 class="ui header inverted centered">{{ .Title }}</h1>
    <div class="ui inverted segment">
        {{ .Content }}
    </div>
    <div class="ui inverted segment">
        <div class="ui relaxed divided list">
            {{ $paginator := (.Paginator 5) }}
            {{ partial "pagination.html" . }}
            {{ range $paginator.Pages }}
            <div class="item">
                <a class="header" href="{{ .URL }}">
                    <div class="ui segment">
                        <div class="itemTitle ui header">
                            {{ .Params.CreatedDate}} | {{ .Title }} 
                        </div>
                        <div class="itemContent">
                            {{ .Params.Description | safeHTML }}
                        </div>
                    </div>
                </a>
            </div>
            {{ end }}
        </div>
    </div>
{{ end }}
