<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ partial "nav.html" . }}
        <div class="ui main text container inverted segment">
            <div class="ui sizer vertical inverted segment">
                <img class="ui centered medium circular image" src="{{ .Site.BaseURL }}images/HeadShot.png" alt="">
                <div class="ui huge centered header large">{{ .Site.Params.Name }}</div>
                <div class="ui centered sub header tiniest">{{ .Site.Params.Headline }}</div>
            </div>
            <div class="ui segment">
                <div class="ui raised segment">
                    <p>{{ .Site.Params.Description }}</p>
                </div>
                <div class="divider"></div>
                <div class="ui stackable two column grid">
                    <div class="column">
                        <div class="ui center aligned inverted stacked segment">
                            <div class="ui medium centered header">{{ .Site.Params.Index.Column1.Title }}</div>
                            <p>{{ .Site.Params.Index.Column1.Description }}</p>
                            <a class="ui orange inverted button" href="{{ .Site.Params.Index.Column1.Link }}">
                                {{ .Site.Params.Index.Column1.Link_Text}} &nbsp<i class="fas fa-chevron-circle-right icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="column">
                        <div class="ui center aligned inverted stacked segment">
                            <div class="ui medium centered header">{{ .Site.Params.Index.Column2.Title }}</div>
                            <p>{{ .Site.Params.Index.Column2.Description }}</p>
                            <a class="ui orange inverted button" href="{{ .Site.Params.Index.Column2.Link }}">
                                {{ .Site.Params.Index.Column2.Link_Text}} &nbsp<i class="fas fa-chevron-circle-right icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="divider"></div>
        </div>
        {{ partial "footer.html" . }}
        {{ partial "scripts.html" . }}
    </body>
</html>
