{{ define "main" }}
    <div class="ui inverted segment">
        <div class="ui inverted large centered header">
            {{ .Params.Title }}
        </div>
    </div>

    <div class="ui segment">
        <img 
            class=" ui centered medium circular image"
            src="{{ .Site.BaseURL }}photos/{{ .Params.CoverPhoto }}"
            alt="Cover photo for the {{ .Params.Title }} photo album."
        />
    </div>

    <div class="ui segment">
        {{ .Params.Description }}
    </div>

    <div class="ui segment">
        <div class="ui list">
            <!-- Insert Photo Collection code here -->
        </div>
    </div>
{{ end }}
